APP_NAME=KebumenGo
BASE_URL=/
APP_ENV=development
APP_DEBUG=true

# Database Configuration
# Untuk Docker: gunakan hostname "mysql"
# Untuk Local: gunakan "localhost"
DB_HOST=mysql
DB_PORT=3306
DB_NAME=kebumengo
DB_USER=user
DB_PASS=password

# MySQL Root Password (untuk Docker setup)
MYSQL_ROOT_PASSWORD=password
